<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Contact Us</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">Contact Us</span></li>
      </ul>
    </div>

    <div>
      <h3 class="sub-title">Contact</h3>
      <p class="desc">
        Giving Actually / Saradhaana Foundation,<br/>
        Sf 65 and 66, Easwara Nagar, APN Palayam, Vadamadurai<br/>
        Coimbatore, Tamilnadu, India - 641017 <br/><br/>
        <a href="mailto:info@givingactually.com" target="_blank">info@givingactually.com</a><br/>
      </p>
    </div>
  </div>
</section>