.image-crop-wrapper {
  margin-bottom: 50px;
  .file-form-group {
    margin-bottom: 20px;
    width: 100%;
    .form-label {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 24px;
      display: block;
    }
    .gv-file-input {
      width: 100%;
    }
  }
  .image-crop-card {
    position: relative;
  }
  .delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }
}