<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Disclaimer</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Disclaimer</span></li>
      </ul>
    </div>

    <div>
      <p class="desc">
        Somewhere, someone has given us their time, wisdom, energy or money, which made a great impact in our lives. We also want to give back rightfully to those who are in need. In givingactually, we believe that giving makes provides happiness to both the donor and the receiver. We do our best to create trust between the donor and the receiver We provide the platform to connect the donors with the receivers and also provide services to check the authenticity of the campaigns.
      </p>
    </div>
  
  </div>
</section>