<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Careers</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Careers</span></li>
      </ul>
    </div>
    

    <div class="careers-wrapper">
      <h1 class="main-heading">We are Hiring!</h1>
      <p class="desc">We are looking for volunteers for the following positions. If you are interested, please get in touch with us at 
        <a href="mailto:info@givingactually.com" target="_blank">info@givingactually.com</a></p>
      <h2 class="title">Technology</h2>
      <div class="openings clearfix">
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Back End Developer</a></h3>
          <h4 class="desc">.NET, Python</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Frontend Devloper</a></h3>
          <h4 class="desc">Angular, HTML, CSS, Material</h4>
        </mat-card>
      </div>
    
      <h2 class="title">Others</h2>
      <div class="openings clearfix">
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Operational Manager</a></h3>
          <h4 class="desc">Manager</h4>
        </mat-card>
      </div>
    
    </div>
  </div>
</section>