<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Careers</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Careers</span></li>
      </ul>
    </div>

    <div class="careers-wrapper">
      <h1 class="main-heading">We are Hiring!</h1>

      <h2 class="title">Technology</h2>
      <div class="openings clearfix">
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">UX Designer</a></h3>
          <h4 class="desc">UI/UX Desginer, Prototype</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">.NET Developer</a></h3>
          <h4 class="desc">.NET, Python</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Frontend Devloper</a></h3>
          <h4 class="desc">Angular, HTML, CSS, Material</h4>
        </mat-card>
      </div>
    
      <h2 class="title">Others</h2>
      <div class="openings clearfix">
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Photographer</a></h3>
          <h4 class="desc">UI/UX Desginer, Prototype</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Content Writer</a></h3>
          <h4 class="desc">.NET, Python</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Finance Manager</a></h3>
          <h4 class="desc">Angular, HTML, CSS, Material</h4>
        </mat-card>
        <mat-card class="opening ">
          <h3 class="position"><a [routerLink]="">Support Executive</a></h3>
          <h4 class="desc">Angular, HTML, CSS, Material</h4>
        </mat-card>
      </div>
    
    </div>
  </div>
</section>