<div class="login-wrapper" *ngIf="mode === 'login'">
  <h1 class="title">Sign in to your account</h1>
  <button mat-icon-button class="close-btn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-content>
    <mat-error class="box-error-msg" *ngIf="errorMessage">
      {{errorMessage}}
    </mat-error>
    <div class="row">
      <div class="col-md-5">
        <div class="social-btn-wrapper">
          <button mat-flat-button color="primary" class="full-width google-btn" (click)="signInWithGoogle()">
            <i class="fa fa-google"></i>
            Sign In with Google
          </button>
          <button mat-flat-button color="primary" class="full-width facebook-btn" (click)="signInWithFB()">
            <i class="fa fa-facebook"></i>
            Sign In with Facebook</button>
        </div>
      </div>
      <div class="col-md-7">
        <form [formGroup]="loginForm" class="custom-login-wrapper">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" cdkFocusInitial formControlName="username" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <div class="btn-wrpper">
            <button mat-raised-button color="primary" (click)="doLogin()" class="full-width btn-google" [disabled]="isLoading" [class.loading]="isLoading">
              Login
            </button>
          </div>
          <div class="btn-wrpper">
            Don't have an account? 
            <button mat-button color="primary" (click)="gotoLoginMode('signup')">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="login-wrapper signup-wrapper"*ngIf="mode === 'signup'">
  <h1 class="title">Create your account</h1>
  <button mat-icon-button class="close-btn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-content>
    <mat-error class="box-error-msg" *ngIf="errorMessage">
      <!-- <mat-icon>info</mat-icon> -->
      {{errorMessage}}
    </mat-error>

    <div class="row">
      <div class="col-md-5">
        <div class="social-btn-wrapper">
          
          <button mat-flat-button color="primary" class="full-width google-btn" (click)="signInWithGoogle()">
            <i class="fa fa-google"></i>
            Sign up with Google
          </button>
  
          <button mat-flat-button color="primary" class="full-width facebook-btn" (click)="signInWithFB()">
            <i class="fa fa-facebook"></i>
            Sign up with Facebook</button>
        </div>
      </div>
      <div class="col-md-7">
        <form [formGroup]="signupForm" class="custom-login-wrapper">
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" cdkFocusInitial formControlName="DPName">
            <mat-error>
              Please provide a valid name.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="UserName">
            <mat-error>
              Please provide a valid email address.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="Password">
            <mat-error>
              Please provide a valid password.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" formControlName="ConfirmPassword">
            <mat-error>
              Please provide a valid confirm password.
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="IsNGO" color="primary">
            Are You an NGO?
          </mat-checkbox>

          <mat-checkbox formControlName="canEndorse" color="primary">
            Would you Like to Endorse Campaigns?
          </mat-checkbox>

          <div class="btn-wrpper">
            <button mat-raised-button color="primary" (click)="doSignup()" class="full-width btn-google" [disabled]="isLoading" [class.loading]="isLoading">
              Sign up
            </button>
          </div>
          <div class="btn-wrpper">
            Already have an account?
            <button mat-button color="primary" (click)="gotoLoginMode('login')">
              Login here!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



