.title {
  font-size: 20px;
  margin-bottom: 10px;
}
.mat-form-field {
  margin-bottom: 10px;
}
.custom-login-wrapper {
  border-left: 1px solid rgba(177, 177, 177, 0.42);
  padding-left: 30px;
  padding-top: 30px;
}
.login-wrapper {
  position: relative !important;
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -13px;
}
.btn-wrpper {
  text-align: right;
  margin-bottom: 20px;
}
.social-btn-wrapper {
  max-width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 84px;
  button {
    margin-bottom: 20px;
    font-family: "Roboto" !important;
    &.google-btn {
      background-color: #DD4B39 !important;
      text-align: left;
      .fa-google {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    &.facebook-btn {
      background-color: #3B5998 !important;
      text-align: left;
      .fa-facebook {
        font-size: 20px;
        margin-right: 10px;
        margin-left: 3px;
      }
    }
  }
}
.otp-wrpper {
  text-align: center;
  p {
    margin-top: 24px;
  }
  .custom-login-wrapper {
    border-left-width: 0;
    padding-left: 0;
  }
  .btn-wrpper {
    text-align: center;
  }
}
.mat-dialog-content {
  height: 100%;
  max-height: 100%;
}

.signup-wrapper {
  .mat-dialog-content {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
  }
  .social-btn-wrapper {
    margin-top: 10px;
    max-width: 100%;
    .mat-primary {
      margin: 0 5px;
    }
  }
  .custom-login-wrapper {
    padding-top: 20px;
  }
  .custom-login-wrapper {
    border-left-width: 0;
    padding-left: 0;
  }
  .custom-mat-error {
    font-size: 11px;
    position: relative;
    top: -26px;
    left: 10px;
  }
}