<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Services</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">Services</span></li>
      </ul>
    </div>

    <div>
      <p class="desc">
        Seekers: - We can help you to design your campaign - We can help you to ensure that the campaign reaches the right people. - We can help you to get the support you need for your campaign from the NGOs and others Donors: - We ensure that the right campaigns are posted - Your money reaches the people without a lot of middlemen - NGOs:      </p>
    </div>
  </div>
</section>