<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">FAQ</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">FQA</span></li>
      </ul>
    </div>

    <div>
      <h3 class="sub-title">What charges are distracted from the money that donor donates?</h3>
      <p class="desc">Givingactually does not charge any fee for the platform, for the customer service and for NGO engagement. Givingactually’s business is supported by Donors who believe in its vision. The only deductible charges are third party charges such as payment processing, card processing, etc.</p>
      
      <h3 class="sub-title">Can I change my goal?</h3>
      <p class="desc">In order to change the goal, set originally, you need to have a good reason. You can write to admin team. The admin team may approve the goal change if it finds it approprirate.</p>
      
      <h3 class="sub-title">What happens if I do not reach goal?</h3>
      <p class="desc">You can extend the timeline or finish your campaign with whatever is collected till the given date and withdraw the collected amount at that point.</p>
      
      <h3 class="sub-title">How is my privacy protected?</h3>
      <p class="desc">As a donor you can donate anonymously. Your payment and other details are only available with givingactually and are not shared with receivers or anyone else. Givingactually follows GDPR (or equivalent in your country) guidelines to protect the privacy.</p>
      
      <h3 class="sub-title">Are you active in my country?</h3>
      <p class="desc">Givingactually has the ambition to operate globally. As of now we operate only in India. We hope to be of your service soon in your country.</p>
      
      <h3 class="sub-title">How do you prevent fraudulent fundraising campaigns?</h3>
      
      <h3 class="sub-title">Can I raise fund for any purpose?</h3>
      
      <h3 class="sub-title">How does the receiver get the money?</h3>
      
      <h3 class="sub-title">Can NGOs raise money for others?</h3>
      
      <h3 class="sub-title">Can I raise money for others?</h3>

    </div>
  </div>
</section>