<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">FAQ</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">FQA</span></li>
      </ul>
    </div>

    <div>
      <h3 class="sub-title">What charges are levied to the donors?</h3>
      <p class="desc">None</p>
      
      <h3 class="sub-title">What charges are levied to the beneficiaries?</h3>
      <p class="desc">Givingactually does not charge any fee for the platform, for the customer service and for NGO engagement. Givingactually’s business is supported by Donors who believe in its vision.</p>
      <p class="desc">The only deductible charges are third party charges such as payment processing, card processing, etc. which in most cases not more than 2%.</p>

      <h3 class="sub-title">How does the beneficiary get the money?</h3>
      <p class="desc">Beneficiary needs to provide his/her bank account details. Upon verification and approval of these details, withdrawal option will be made available to the beneficiary. The beneficiary can then withdraw the collected amount in full or in part.</p>
      
      <h3 class="sub-title">How do you prevent fraudulent fundraising campaigns?</h3>
      <p class="desc">GivingActually approves the fundraisers and monitors the updates, comments and other activities related to a fundraiser. If there is suspicion due to the monitoring or due to a complaint, GivingActually will put the fundraiser on hold and investigate for fraud.</p>
      
      <h3 class="sub-title">What happens if I do not reach target amount in the given period?</h3>
      <p class="desc">You can extend the timeline (admin approval needed) or finish your fundraiser with whatever is collected till the given date and withdraw the collected amount at that point.</p>
      
      <h3 class="sub-title">How is my privacy protected?</h3>
      <p class="desc">As a donor you can donate anonymously. Your payment and other details are only available with givingactually and are not shared with the beneficieries or anyone else.</p>
      <p class="desc">Givingactually follows GDPR (or equivalent in your country) guidelines to protect the privacy.</p>
      
      <h3 class="sub-title">Which countries are covered by GivingActually?</h3>
      <p class="desc">Givingactually has the ambition to operate globally. As of now we operate only in India. We hope to be of your service soon in your country.</p>
      
      <h3 class="sub-title">Can I raise fund for any purpose?</h3>
      <p class="desc">Yes. As long as the purpose is legitimate and within the charitable category.</p>
      
      <h3 class="sub-title">Can NGOs raise money for others?</h3>
      <p class="desc">Yes</p>
      
      <h3 class="sub-title">Can I raise money for others?</h3>
      <p class="desc">Yes</p>
      
    </div>
  </div>
</section>