<header class="header masthead sticky" [ngClass]="{'white-bg' : isSticky, 'menu-hidden' : isHidden}">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6 sub-nav">
          <ul class="clearfix">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/highlights">Highlights</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6 text-right">
          <button mat-icon-button (click)="slideMobileNav()" class="hamburger-icon" fxShow="true">
            <mat-icon>menu</mat-icon>
          </button>
              <button mat-stroked-button class="gv-secondary-btn transparent rounded btn-sm" *ngIf="!user.isLoggedIn" (click)="doLogin()">
            Login
          </button>

          <div class="logged-in-wrp" *ngIf="user.isLoggedIn">
            <button mat-flat-button class="gv-btn-link" routerLink="/accounts/{{user.UserId}}">
              {{user.DisplayName ? user.DisplayName : user.userName}}
            </button>
            <button mat-flat-button class="gv-btn-link" (click)="doLogout()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navbar" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <a class="logo" routerLink="/home">
            <img src="./../assets/images/logo-gv-white.png" class="bg-header" alt="Giving Actually">
            <img src="./../assets/images/logo-gv.png" class="white-header" alt="Giving Actually">
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-9 main-nav">
          <mat-toolbar>  
            <button mat-button [matMenuTriggerFor]="menu">
              Category
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button 
                class="nav-category-item" 
                mat-menu-item 
                *ngFor="let category of categories"
                routerLink="/category/{{category}}"
                [ngClass]="{'active': categoryName === category}"
                >{{category}}</button>
            </mat-menu>
            <button mat-button routerLink="/category/All">All Campaigns</button>
            <button mat-button (click)="gotoCampaignsNearMe()">Campaigns Near Me</button>
            <button mat-button>How it Works</button>
          </mat-toolbar>
        </div>
      </div>
    </div>
  </div>
</header>
