.admin-page {
  min-height: calc(100vh - 152px);
  margin-top: 70px;
  .page-title {
    font-weight: 400;
    font-size: 20px;
    margin: 8px 0 22px 0;
  }
  .datatable-body-cell {
    .btn-sm {
      margin-left: 5px;
      height: 26px;
      line-height: 24px;
      font-size: 12px;
      padding: 0 10px;
      min-width: auto;
    }
  }
}