
<section class="home-slider">
  <div class="slider-bg">
    <div class="container">
      <div class="search-wrapper">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" placeholder="Search" matInput autocomplete="off" [(ngModel)]="query" (keyup.enter)="doSearch();" />
          <button matSuffix mat-stroked-button class="gv-secondary-btn transparent rounded" (click)="doSearch()">Search</button>
       </mat-form-field>
      </div>
      <h2 class="title">Giving is not just about making a donation. It is about making a difference in someone's life.</h2>
      <div class="btn-wrapper">
        <!-- <button mat-stroked-button class="gv-secondary-btn transparent rounded">Donate Now</button> -->
        <!-- <button mat-stroked-button class="gv-secondary-btn transparent rounded" (click)="startCampaign()">START A FUNDRAISER</button> -->
      </div>
    </div>
  </div>
</section>

<section class="gv-page-body">
  <div class="container">
    <!-- <div class="row info-wrapper">
      <div class="col-12 col-sm-4 col-md-4 info-box box1">
        <h3>Campaigning</h3>
        <p>Spend less than 5 minutes to Fill in a few details about yourself, and who you are fundraising for - 
          <a href="/">here.</a></p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 info-box box2">
        <h3>Sharing</h3>
        <p>Receive donations from people across the world, by sharing the newly created campaign to the social media Sites</p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 info-box box3">
        <h3>Crowdfunding</h3>
        <p>Transfer funds to the hospital or to your bank account, whenever you need.</p>
      </div>
    </div> -->

    <div class="campaigns-container">

      <div class="capaigns-wrapper">
        <!-- Campain Category Title -->
        <div class="row">
          <div class="col-8 col-sm-8 col-md-6">
            <h2 class="heading">Top Fundraisers!</h2>
          </div>
          <div class="col-4 col-sm-4 col-md-6 text-right">
            <button mat-stroked-button class="gv-secondary-btn prev-next-btn" (click)="owlCar.prev()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-stroked-button class="gv-secondary-btn prev-next-btn" (click)="owlCar.next()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <!-- Campaing Items -->
        <div class="campaigns-wrapper home-campaigns-wrapper">
          <app-progress-bar message="Loading Fundraisers..." *ngIf="isLoading"></app-progress-bar>

          <div class="no-campaign" *ngIf="!isLoading && campaignsList.length === 0">
            <h3>No fundraisers to show.</h3>
            <button mat-stroked-button class="gv-secondary-btn rounded" (click)="startCampaign()">Start a Fundraiser</button>
          </div>

          <!-- Carousel -->
          <owl-carousel-o [options]="OwlOptions" #owlCar>
            <!-- Items -->
            <ng-template carouselSlide *ngFor="let campaign of campaignsList">
              <div class="campaign-item">
                <div class="campaign-thumbnail">
                  <div class="thumb">
                    <div class="img" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}"></div>
                  </div>
                  <button mat-stroked-button class="gv-secondary-btn transparent rounded read-more" routerLink="/fundraiser/{{campaign.Id}}">View More</button>
                  <div class="user-box clearfix">
                    <div class="user-img">
                      {{campaign.DisplayInitial}}
                    </div>
                    <div class="user-name"><a routerLink="/accounts/{{campaign.UserId}}">{{campaign.OrganizerName}}</a></div>
                  </div>
                </div>
                <div class="info">
                  <div class="title-desc">
                    <h4 class="title"><a routerLink="/fundraiser/{{campaign.Id}}">{{campaign.CampaignTitle}}</a></h4>
                    <p class="desc">{{campaign.CampaignDescription}}</p>
                  </div>
                  <div class="row category">
                    <div class="col-6 col-sm-6 col-md-6 campaign-address">
                      <a routerLink="/category/{{campaign.CategoryName}}">
                        <i class="fa fa-tag"></i>
                        <span>{{campaign.CategoryName}}</span>
                      </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 campaign-address right" [title]="campaign.placeName">
                      <a routerLink="/search" [queryParams]="{q: campaign.placeName}">
                        <i class="fa fa-map-marker"></i>
                        <span>{{campaign.FullplaceName}}</span>
                      </a>
                    </div>
                  </div>
      
                  <div class="funded-chart">
                    <div class="goals">
                      <div class="funded" [ngStyle]="{'width': campaign.RaisedPercentage + '%'}"></div>
                    </div>
                  </div>
      
                  <div class="row funded-info">
                    <div class="col-6 col-sm-4 col-md-6 funded">
                      ₹{{toLocaleString(campaign.RaisedAmount)}}
                      <!-- <span class="label">FUNDED</span> -->
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 funded goals">
                      ₹{{toLocaleString(campaign.CampaignTargetMoney)}}
                      <!-- <span class="label">GOAL</span> -->
                    </div>
                  </div>

                  <div class="row supporters-info">
                    <div class="col-6 col-sm-4 col-md-6 days">
                      {{campaign.DaysLeft}} days left
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 supporters">
                      {{campaign.Totalsupporters}} supporters
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </owl-carousel-o>
          
        </div>
      </div>
      <!-- End of the campaings wrapper -->
    </div>
  </div>
</section>
