// Home Page Slider
.home-slider {
  .slider-bg {
    height: 620px;
    background: url('./../../../assets/images/bg1.jpg') no-repeat center center transparent;
    background-size: cover;
    position: relative;
    .title {
      color: #f1f1f1;
      line-height: 46px;
      position: absolute;
      bottom: 30%;
      width: 620px;
      max-width: 100%;
    }
    .btn-wrapper {
      position: absolute;
      bottom: 70px;
      text-align: center;
      width: 100%;
      left: 0;
      right: 0;
      .gv-secondary-btn {
        margin: 0 10px;
      }
    }
  }
}

.gv-page-body {
  min-height: 800px;
  padding: 30px 0;
  .info-wrapper {
    max-width: 900px;
    margin: auto;
    .info-box {
      font-family: Roboto;
      color: #111;
      background: rgba(0, 0, 0, 0.82);
      border-right: 1px solid rgba(255, 255, 255, 0.22);
      padding: 20px;
      transition: 0.25s ease-out;
      cursor: pointer;
      &.box1 {
        background: #6ed0b8;
      }
      &.box2 {
        background: #17bc9b;
      }
      &.box3 {
        background: #6ed0b8;
      }
      &:hover {
        // background: rgba(23, 188, 155, 0.53);
        background: #007961;
        transition: .25s ease-out;
      }
      h3 {
        font-family: "Roboto", Arial, sans-serif !important;
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
  }
  .campaigns-container {
    margin-bottom: 20px;
    .capaigns-wrapper {
      margin-top: 50px;
    }
    .heading {
      font-size: 22px;
      margin-bottom: 30px;
    }
    .campaigns-wrapper {
      .campaign-item {
        .campaign-thumbnail {
          margin: 0;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background: rgba(0,0,0,.6);
            opacity: 0;
            transition: all .3s;
          }
          &:hover {
            .thumb {
              z-index: -1;
              .img {
                transform: scale(1.05,1.05);
                -webkit-transform: scale(1.05,1.05);
                -moz-transform: scale(1.05,1.05);
                -ms-transform: scale(1.05,1.05);
                -o-transform: scale(1.05,1.05);
              }
            }
            &:before {
              opacity: 1;
              transition: all .3s;
            }
            .read-more {
              opacity: 1;
              transform: scale(1, 1);
              transition: all .3s;
            }
          }            
          .thumb {
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
            transition: all .3s;
            .img {
              background-image: url('https://givingactuallyblob.blob.core.windows.net/animal/c5eb8c86-d351-4248-acc7-4fcbc94ecd7f.jpg');
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              max-width: 100%;
              height: 100%;
              vertical-align: middle;
              -o-transition: all .5s ease-in-out;
              transition: all .5s ease-in-out;
            }
          }
          .read-more {
            position: absolute;
            left: 36%;
            top: 40%;
            z-index: 0;
            transform: scale(1.3,1.3);
            opacity: 0;
          }
        }
        .info {
          border: 1px solid rgba(156, 156, 156, 0.12);
          border-top: 0;
          box-shadow: 0 1px 5px -2px rgba(42, 42, 42, 0.22);
          min-height: 150px;
          padding: 20px;
          .title {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .desc {
            height: 45px;
            overflow: hidden;
          }
        }
        .category {
          font-weight: 400;
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 10px;
          .fa {
            margin-right: 5px;
          }
        }
        .funded-chart {
          margin: 18px 0 8px;
          .goals {
            position: relative;
            background-color: rgba(181, 181, 181, 0.32);
            height: 6px;
            .funded {
              position: absolute;
              height: 100%;
              width: 0;
              max-width: 100%;
              background-color: rgba(23, 188, 156, 0.62);
            }
          }
        }
        .funded-info {
          font-weight: 500;
          .funded {
            .label {
              color: rgba(17, 17, 17, 0.42);
              display: block;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 12px;
              margin-top: 4px;
            }
            &.goals {
              text-align: right;
            }
          }
        }
        .campaign-address {
          height: 20px;
          overflow: hidden;
        }
      }
    }
  }
}

button {
  &.prev-next-btn {
    border-radius: 0;
    padding: 0;
    width: 40px;
    min-width: auto;
    margin-left: 10px;
  }
}

.home-item-carousel {
  .owl-carousel {
    width: 100%;
    .owl-item {
      height: 400px;
    }
    .img-bg {
      background-size: cover;    
      height: 100%;
      width: 100%;
    }
  }
  .owl-theme .owl-dots {
    position: relative;
    top: -75px;
  }  
}
.home-campaigns-wrapper .campaign-item {
  max-width: 380px;
}
