.video-wrapper {
  margin: auto;
  text-align: center;
  max-width: 848px;
  height: 480px;
  background-color: #000;
  margin-top: 24px;
  .video-wrp {
    max-width: 848px;
    height: 480px;
  }
}
.how-to-use-wrapper {
  padding: 70px 0 30px 0;
  .title {
    text-align: center;
    margin-bottom: 14px;
    font-weight: 600;
    color: #444;
  }
  .desc {
    text-align: center;
    font-size: 18px;
    color: #444;
    max-width: 700px;
    margin: 10px auto;
  }
  .steps-wrapper {
    width: 570px;
    margin: auto;
    .btn-wrapper {
      text-align: center;
    }
  }
  .steps {
    margin: 50px 0;
    .step {
      float: left;
      font-size: 100px;
      line-height: 100px;
      color: #696969;
      margin-right: 10px;
      font-weight: 300;
    }
    .steps-det {
      float: left;
      margin-top: 12px;
      width: 500px;
      .step-title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 6px;
        color: #17bc9c;
      }
      .step-desc {
        font-size: 16px;
      }
    }
  }
}