<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">How It Works</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">How It Works</span></li>
      </ul>
    </div>
    <div>
      <div class="video-wrapper">
        <video
          class="video-wrp" 
          controls 
          poster="">
          <source src="./../assets/videos/how-it-works.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      </div>
      <!-- How to use -->
      <div class="how-to-use-wrapper">
        <h2 class="title">Raising fund for a good cause made easy!!</h2>
        <p class="desc">Giving Actually provides you a easy to use platform to raise funds for a good cause either for yourself or for your loved ones. 
          The world is filled with people with golden arts who will make a difference in your life.</p>
        <div class="steps-wrapper">
          <div class="steps clearfix">
            <div class="step">1</div>
            <div class="steps-det">
              <div class="step-title">Start your fundraiser</div>
              <div class="step-desc">You start a fundraise in easy steps by providing the right details supported by pictures and/or videos. It takes only couple of minutes!!</div>
            </div>
          </div>
          <div class="steps clearfix">
            <div class="step">2</div>
            <div class="steps-det">
              <div class="step-title">Share your fundraiser</div>
              <div class="step-desc">Make your fundraiser visible to many by sharing with your networks of friends and family using social media such as WhatsApp, Facebook and Twitter. 
                This will ensure that the fundraiser will reach the right people who will donate for your cause.</div>
            </div>
          </div>
          <div class="steps clearfix">
            <div class="step">3</div>
            <div class="steps-det">
              <div class="step-title">Withdraw funds</div>
              <div class="step-desc">The beneficiary withdraws the amount that is raised and utilizes for the cause.</div>
            </div>
          </div>
        </div>
      </div>
      <!-- How to use -->
    </div>
  </div>
</section>