<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">About Us</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> About Us</span></li>
      </ul>
    </div>

    <div>
      <p class="desc">
        All lives on our lovely planet deserve to live a happy and peaceful life. As we know some are blessed a bit more in terms of finance than the others. Money that provides pleasure to one could save a life of the other or help pave a way for a future. GivingActually strives to connect the good hearts of this world with less privileged people to make an impact on their lives.
      </p>
      <p class="desc">
        GivingActually provides a platform where people can raise the much-needed funds by reaching the potential donors.  The fundraisers are easy to create. The donors are assured of the legitimacy of the fundraisers with the support that other people and organizations have given to the fundraiser.
      </p>
      <p class="desc">
        GivingActually in India has partnered with <strong>SARADHAANA FOUNDATION</strong>, which is a non-profit trust to collect and distribute the fund to the beneficiaries. 
      </p>
      <p class="desc">
        The collected fund of a fundraiser is given to the beneficiary in full minus the payment transaction fee that the payment providers such as Razorpay charge us. No other charges apply. 
      </p>
      <p class="desc">
        Building and maintaining the platform and other operational expenses are covered by donations and hence nothing is charged to the beneficiaries.
      </p>
    </div>
  
  </div>
</section>