// Home Page Slider
.common-page-slider {
  .slider-bg {
    height: 320px;
    background: url('./../../../../assets/images/bg3.jpg') no-repeat center center transparent;
    background-color: rgba(0, 139, 110, 0.42);
    background-size: cover;
    .container {
      position: relative;
      height: 100%;
    }
    .title {
      color: #f1f1f1;
      line-height: 46px;
      position: absolute;
      bottom: 30px;
      width: auto;
      max-width: 800px;
      padding: 0 5px;
      background-color: rgba(0, 139, 110, 0.42);
    }
    .btn-wrapper {
      position: absolute;
      right: 0;
      bottom: 30px;
      .gv-secondary-btn {
        margin: 0 10px;
      }
    }
  }
}

.gv-page-body {
  min-height: 800px;
  padding: 30px 0;
  &.profile-body {
    padding: 0 0 30px 0;
  }
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .desc {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .user-wrapper {
    margin: auto;
    text-align: center;
    .user-profile-img {
      width: 164px;
      height: 164px;
      border: 2px solid #008b6e;
      border-radius: 180px;
      -webkit-border-radius: 180px;      
      background: #fff;
      margin: auto;
      position: relative;
      top: -40px;
      .profile-pic-small {
        text-align: center;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 160px;
      }
    }
    .user-stats {
      text-align: center;
      max-width: 1000px;
      margin: auto;      
      .count {
        float: left;
        padding: 0;
        margin: 0;
        font-size: 40px;
        color: #3c3c3c;
        line-height: 60px;
        font-weight: 300;
      }
      .desc {
        float: left;
        font-size: 16px;
        color: #6c6c6c;
        padding: 0;
        line-height: 21px;
        margin: 10px 0 0 12px;
        text-align: left;
      }      
    }
  }
  .user-campaign-wrapper {
    margin-top: 40px;
    .mat-tab-body-content {
      padding: 20px 0;
    }

    .campaign-info {
      .sub-title {
        font-size: 16px;
        margin: 20px 0 10px 0;
        .status {
          font-size: 11px;
          display: inline-block;
          padding: 2px 5px;
          color: #000;
          margin-left: 10px;
          border: 1px solid #ccc;
          &.active {
            border: 1px solid #008b6e;
            color: #008b6e;
          }
          &.deactive {
            border: 1px solid #ce1437;
            color: #ce1437;
          }
          &.draft {
            border: 1px solid #777777;
            color: #777777;
          }
        }
      }
      .short-desc {
        font-size: 11px;
      }
    }
    .funded-chart {
      margin-bottom: 20px;
    }
    .cc-btn-wrapper {
      margin-top: 44px;
      margin-bottom: 40px;
      text-align: right;
      .gv-secondary-btn {
        margin-left: 10px;
      }
    }
  }
}
.action-error-msg {
  display: block;
  border: none;
  font-weight: 300;
  text-align: right;
  margin: 0;
  padding: 10px;
}

.mat-stepper-horizontal {
  .mat-horizontal-content-container {
    padding: 0 24px 0 24px;
  }
  .mat-step-header .mat-step-icon-selected, 
  .mat-step-header .mat-step-icon-state-done, 
  .mat-step-header .mat-step-icon-state-edit {
    background-color: #008b6e;
    color: #fff;
  }
  .mat-step-label {
    font-size: 18px;
    font-weight: 300;
  }
  .mat-step-header .mat-step-label-selected {
    color: #008b6e;
    font-weight: 400;
  }
  .mat-horizontal-stepper-content {
    padding-top: 24px;
    .mat-form-field {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 24px;
      width: 100%;
    }
  }
  .form-group {
    margin-bottom: 50px;
    .form-label {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 24px;
      display: block;
    }
    &.no-margin {
      margin-bottom: 5px;
    }
  }
  .add-img-btn, .delete-img-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .delete-img-btn {
    left: 60px;
  }
}

.sticky-right-panel {
  position: sticky;
  top: 50px;
  section {
    padding-bottom: 1px;
    .campaign-thumbnail .thumb {
      background-color: #f5f5f5;
    }
  }
}

.form-label {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  display: block;
}

.angular-editor {
  margin-bottom: 24px;
  .angular-editor-toolbar {
    padding: 10px !important;
  }
  .angular-editor-textarea {
    margin-top: 0 !important;
    &:focus {
      outline: none;
    }
  }
}
.gallery-preview {
  .label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .video-wrp {
    max-width: 422px;
    max-height: 180px;
  }
}

angular-editor {
  &.ng-invalid {
    .angular-editor {
      border: 1px solid #ff0303;
    }
  }
}

.mat-horizontal-stepper-header{
  pointer-events: none;
}

agm-map {
  height: 300px;
}
.stepper {
  .form-error {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    .mat-icon {
      position: relative;
      top: 6px;
    }
  }
}