<section class="common-page-slider">
  <!-- [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}" -->
  <div class="slider-bg" >
    <div class="container">
      <h2 class="title">{{categoryName}}</h2>
    </div>
  </div>
</section>

<section class="gv-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">{{categoryName}}</span></li>
      </ul>
    </div>

    <div class="row">
      <!-- Left Panel -->
      <div class="col-xs-12 col-sm-4 col-md-2">
        <mat-card class="category-nav-list">
          <mat-nav-list>
            <mat-list-item 
              *ngFor="let category of categories" 
              routerLink="/category/{{category}}"
              [ngClass]="{'active': categoryName === category}"
              >{{category}}</mat-list-item>
          </mat-nav-list>
        </mat-card>
      </div>
      <!-- End of Left Panel -->

        <!-- Category Panel -->
        <div class="col-xs-12 col-sm-4 col-md-10 campaigns-container">

          <div class="row campaigns-wrapper">

            <app-progress-bar class="loader" message="Loading Campaigns..." *ngIf="isLoading"></app-progress-bar>

            <!-- Items -->
            <div class="col-xs-12 col-sm-6 col-md-4 campaign-item" *ngFor="let campaign of campaignsList">
              <div class="campaign-thumbnail">
                <div class="thumb">
                  <div class="img" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}"></div>
                </div>
                <button mat-stroked-button class="gv-secondary-btn transparent rounded read-more" routerLink="/campaigns/{{campaign.Id}}">View More</button>
              </div>
              <div class="info">
                <h4 class="title"><a routerLink="/campaigns/{{campaign.Id}}" title={{campaign.CampaignTitle}}>{{campaign.CampaignTitle}}</a></h4>
                <p class="desc">{{campaign.CampaignDescription}}</p>
                <div class="row category">
                  <div class="col-xs-12 col-sm-6 col-md-6 campaign-address">
                    <i class="fa fa-tag"></i>
                    <span>{{campaign.CategoryName}}</span>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 campaign-address" [title]="campaign.placeName">
                    <i class="fa fa-map-marker"></i>
                    <span>{{campaign.placeName}}</span>
                  </div>
                </div>
    
                <div class="funded-chart">
                  <div class="goals">
                    <div class="funded" [ngStyle]="{'width': campaign.RaisedPercentage + '%'}"></div>
                  </div>
                </div>
    
                <div class="row funded-info">
                  <div class="col-xs-12 col-sm-4 col-md-6 funded">
                    ${{toLocaleString(campaign.RaisedAmount)}}
                    <span class="label">FUNDED</span>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-6 funded goals">
                    ${{toLocaleString(campaign.CampaignTargetMoney)}}
                    <span class="label">GOAL</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of the item -->

          </div>

          <!-- Pagination -->
          <div class="pagination-wrapper" [hidden]="isLoading">
            <mat-paginator 
              *ngIf="total"
              [length]="total"
              [pageSize]="pageSize"
              [pageSizeOptions]="[6, 12, 24]"
              [showFirstLastButtons]="true"
              (page)="pageEvent = onPaginationChange($event)">
            </mat-paginator>
          </div>

      </div>
      <!-- End of Category Panel -->
    </div>

  </div>
</section>
