<section class="common-page-slider">
  <!-- [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}" -->
  <div class="slider-bg" >
    <div class="container">
      <h2 class="title">{{categoryName}}</h2>
    </div>
  </div>
</section>

<section class="gv-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <div class="row">
        <div class="col-8 col-sm-6 col-md-6">
            <ul class="breadcrumb">
              <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
              <li><span itemprop="name">{{categoryName}}</span></li>
            </ul>
        </div>
        <div class="col-4 col-sm-6 col-md-6">
          <div class="filter-wrp">
            <div class="sort-by">
              <strong>
                {{sorting.label}}
                <i class="fa fa-arrow-{{sorting.order === 'Asc' ? 'down' : 'up'}}" aria-hidden="true"></i>
              </strong>
            </div>
            <button mat-icon-button class="filter-btn" [matMenuTriggerFor]="menuFilter"><mat-icon>sort</mat-icon></button>
            <mat-menu #menuFilter="matMenu">
              <button 
                mat-menu-item 
                *ngFor="let sorting of sortingsList" 
                [value]="sorting.value"
                (click)="applySorting(sorting)"
              >
                {{sorting.label}}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Left Panel -->
      <div class="col-12 col-sm-4 col-md-2 category-list-wrapper">
        <mat-card class="category-nav-list">
          <mat-nav-list>
            <mat-list-item 
              routerLink="/category/All"
              [ngClass]="{'active': categoryName === 'All'}"
            >All</mat-list-item>            
            <mat-list-item 
              *ngFor="let category of categories" 
              routerLink="/category/{{category}}"
              [ngClass]="{'active': categoryName === category}"
              >{{category}}</mat-list-item>
          </mat-nav-list>
        </mat-card>
      </div>
      <!-- End of Left Panel -->

        <!-- Category Panel -->
        <div class="col-12 col-sm-4 col-md-10 campaigns-container">

          <div class="row campaigns-wrapper">

            <app-progress-bar class="loader" message="Loading Fundraisers..." *ngIf="isLoading"></app-progress-bar>

            <!-- Items -->
            <div class="col-12 col-sm-6 col-md-4 campaign-item" *ngFor="let campaign of campaignsList">
              <div class="campaign-thumbnail">
                <div class="thumb">
                  <div class="img" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}"></div>
                </div>
                <button mat-stroked-button class="gv-secondary-btn transparent rounded read-more" routerLink="/fundraiser/{{campaign.Id}}">View More</button>
              </div>
              <div class="info">
                <div class="title-desc">
                  <h4 class="title"><a routerLink="/fundraiser/{{campaign.Id}}" title={{campaign.CampaignTitle}}>{{campaign.CampaignTitle}}</a></h4>
                  <div class="user-box clearfix">
                    <div class="user-img">
                      {{getFirstLetter(campaign.OrganizerName)}}
                    </div>
                    <div class="user-name">{{campaign.OrganizerName}}</div>
                  </div>
                  <p class="desc">{{campaign.CampaignDescription}}</p>
                </div>
                <div class="row category">
                  <div class="col-6 col-sm-6 col-md-6 campaign-address">
                    <i class="fa fa-tag"></i>
                    <span>{{campaign.CategoryName}}</span>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 campaign-address right" [title]="campaign.placeName">
                    <i class="fa fa-map-marker"></i>
                    <span>{{campaign.placeName}}</span>
                  </div>
                </div>
    
                <div class="funded-chart">
                  <div class="goals">
                    <div class="funded" [ngStyle]="{'width': campaign.RaisedPercentage + '%'}"></div>
                  </div>
                </div>
    
                <div class="row funded-info">
                  <div class="col-6 col-sm-4 col-md-6 funded">
                    ₹{{toLocaleString(campaign.RaisedAmount)}}
                    <!-- <span class="label">FUNDED</span> -->
                  </div>
                  <div class="col-6 col-sm-4 col-md-6 funded goals">
                    ₹{{toLocaleString(campaign.CampaignTargetMoney)}}
                    <!-- <span class="label">GOAL</span> -->
                  </div>
                </div>
                <div class="row supporters-info">
                  <div class="col-6 col-sm-4 col-md-6 days">
                    {{campaign.DaysLeft}} days left
                  </div>
                  <div class="col-6 col-sm-4 col-md-6 supporters">
                    {{campaign.Totalsupporters}} supporters
                  </div>
                </div>

              </div>
            </div>
            <!-- End of the item -->

          </div>
          <div class="no-campaign" *ngIf="!isLoading && total === 0">
            <h3>No fundraiser to show.</h3>
            <button mat-stroked-button class="gv-secondary-btn rounded" (click)="startCampaign()">Start a Fundraiser</button>
          </div>
          <!-- Pagination -->
          <div class="pagination-wrapper" [hidden]="isLoading">
            <mat-paginator 
              [hidden]="total < pageSize"
              *ngIf="total"
              [length]="total"
              [pageSize]="pageSize"
              [pageSizeOptions]="[6, 9, 12]"
              [showFirstLastButtons]="true"
              (page)="pageEvent = onPaginationChange($event)">
            </mat-paginator>
          </div>

      </div>
      <!-- End of Category Panel -->
    </div>

  </div>
</section>
