<mat-sidenav-container fxFlexFill>
  <mat-sidenav #hamburgerNav class="mobile-nav">
    <button mat-icon-button (click)="hamburgerNav.toggle()" fxShow="true" class="close-icon">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list>
      <a (click)="hamburgerNav.close()" routerLink="/home" mat-list-item>Home</a>
      <a (click)="hamburgerNav.close()" routerLink="/category/All" mat-list-item>Browse Fundraisers</a>
      <a (click)="hamburgerNav.close()" (click)="gotoCampaignsNearMe()" mat-list-item>Near by Fundraisers</a>
      <a (click)="hamburgerNav.close()" routerLink="/ga/how-it-works" mat-list-item>How it Works</a>
      <a 
        *ngFor="let category of categories" 
        mat-list-item
        (click)="hamburgerNav.close()"
        routerLink="/category/{{category}}"
      >{{category}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>

  <div class="giving-actually-app">
    <app-header></app-header>
    <main class="ga-main">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>

  </mat-sidenav-content>
</mat-sidenav-container>


