<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
    </div>
  </div>
</section>

<section class="gv-page-body profile-body">
  <div class="container">
    <!-- <app-progress-bar message="Loading Account..." *ngIf="isLoading"></app-progress-bar> -->
    <div class="user-wrapper">
      <div class="create-btn-wrapper">
        <button mat-stroked-button class="gv-secondary-btn transparent" routerLink="/ce-campaign">Create Campaign</button>
      </div>
      <div class="user-profile-img">
        <h4 class="profile-pic-small">{{getFirstLetter(user.DisplayName)}}</h4>
      </div>
      <div class="user-stats">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h4 class="count">14</h4>
            <p class="desc">Total<br/>Campaigns</p>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h4 class="count">12L</h4>
            <p class="desc">Total<br/>Goals</p>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h4 class="count">80K</h4>
            <p class="desc">Money<br/>Received</p>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h4 class="count">100</h4>
            <p class="desc">Total<br/>Donors</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row user-campaign-wrapper">

      <!-- User Campaigns -->
      <div class="col-xs-12 col-sm-4 col-md-8">
        <mat-tab-group (selectedTabChange)="tabChange($event)">  
          <mat-tab label="My Campaigns">
            <div class="user-campaigns">

              <app-progress-bar class="page" [message]="'Loading Camapigns...'" *ngIf="isLoading" ></app-progress-bar>
              
              <div class="no-campaign" *ngIf="!isLoading && campaignsList.length === 0">
                <h3>No campaings to show.</h3>
                <button mat-stroked-button class="gv-secondary-btn rounded" (click)="startCampaign()">Start Campaign</button>
              </div>
    
    
              <!-- Campaing Item -->
              <mat-card class="light-bg campaign-item" *ngFor="let campaign of campaignsList">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="campaign-info">
                      <div class="campaign-banner-wrp">
                        <div class="campaign-thumbnail">
                          <div class="thumb campaign-pic">
                            <div class="img" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}"></div>
                          </div>
                          <button mat-stroked-button class="gv-secondary-btn transparent rounded read-more" routerLink="/campaigns/{{campaign.Id}}">View More</button>
                        </div>
        
                        <!-- <div class="campaign-pic" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}"></div> -->
                        <div class="campaign-social-info">
                          <div class="row">
                            <div class="col-md-4 right-border">
                              <div class="inner-box-border">
                                <h4>{{campaign.LikesTotalCount}}</h4>
                                <p class="label">Likes <i class="fa fa-thumbs-up"></i></p>
                              </div>
                            </div>
                            <div class="col-md-4 right-border">
                              <div class="inner-box-border">
                                <h4>{{campaign.CommentTotalCount}}</h4>
                                <p class="label">Comments <i class="fa fa-comments"></i></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="inner-box-border">
                                <h4>{{campaign.ShareTotalCount}}</h4>
                                <p class="label">Shares <i class="fa fa-share"></i></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h3 class="sub-title">
                        <a routerLink="/campaigns/{{campaign.Id}}">{{campaign.CampaignTitle}}</a>
                        <span class="status" [ngClass]="campaign.CampaignStatus">{{campaign.CampaignStatus}}</span>
                      </h3>
                      <div class="inner-box-top">
                        <p class="label"><a routerLink="/category/{{campaign.CategoryName}}">
                          <i class="fa fa-tag"></i>
                          {{campaign.CategoryName}}
                        </a></p>
                        <p class="label"><a routerLink="/home">
                          <i class="fa fa-map-marker"></i>
                          {{campaign.placeName}}
                        </a></p>
                      </div>
                      <div class="short-desc">{{campaign.CampaignDescription}}</div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="funded-chart">
                      <div class="goals">
                        <!-- [ngStyle]="{'width': campaign.RaisedPercentage + '%'}" -->
                        <div class="funded" [ngStyle]="{'width': campaign.RaisedPercentage + '%'}"></div>
                      </div>
                      <p class="label">{{campaign.RaisedPercentage}}% AMOUNT ACHIEVED OF ₹{{campaign.CampaignTargetMoney}}</p>
                    </div>
                    <div class="inner-box">
                      <h4>₹{{campaign.CampaignTargetMoney}}</h4>
                      <p class="label">Goal</p>
                    </div>
                    <div class="inner-box">
                      <h4>₹{{campaign.RaisedAmount}}</h4>
                      <p class="label">Money Raised</p>
                    </div>
                    <div class="inner-box">
                      <h4>{{campaign.DonorsTotalCount}}</h4>
                      <p class="label">Donors</p>
                    </div>
                    <div class="inner-box">
                      <h4>{{campaign.EndorseTotalCount}}</h4>
                      <p class="label">Endorsements</p>
                    </div>
                  </div>
                </div>
                <div class="btn-wrapper left">
                  <!-- Draft Status -->
                  <div class="draft-state-btns" *ngIf="campaign.CampaignStatus === 'Draft'">
                    <button 
                      mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg" 
                      routerLink="/ce-campaign" [queryParams]="{id: campaign.Id, step: 1}">
                        Edit
                    </button>
                    <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg">Delete</button>
                  </div>

                  <!-- InActive Status -->
                  <div class="draft-state-btns" *ngIf="campaign.CampaignStatus === 'InActive'">
                    <button 
                      mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg" 
                      routerLink="/ce-campaign" [queryParams]="{id: campaign.Id, step: 1}">
                        Edit
                    </button>
                    <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg">Activate</button>
                  </div>

                  <!-- Pending Approval Status -->
                  <div class="draft-state-btns" *ngIf="campaign.CampaignStatus === 'Pending Approval'">
                    <button 
                      mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg" 
                      routerLink="/ce-campaign" [queryParams]="{id: campaign.Id, step: 1}">
                        Edit
                    </button>
                    <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg">Delete</button>
                  </div>

                  <!-- Active Status -->
                  <div class="draft-state-btns" *ngIf="campaign.CampaignStatus === 'Active'">
                    <button 
                      mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg" 
                      routerLink="/ce-campaign" [queryParams]="{id: campaign.Id, step: 1}">
                        Edit
                    </button>
                    <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg" 
                      routerLink="/campaign-updates" [queryParams]="{id: campaign.Id}">
                      Add Updates
                    </button>
                    <!-- <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg">Inactive</button>
                    <button mat-stroked-button class="gv-secondary-btn btn-sm flat-btn btn-bg">Extend Duration</button> -->
                  </div>

                </div>
              </mat-card>
              <!-- Campaing Item -->

              <!-- Pagination -->
              <div class="pagination-wrapper" [hidden]="isLoading">
                <mat-paginator 
                  *ngIf="total"
                  [length]="total"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[6, 9, 12]"
                  [showFirstLastButtons]="true"
                  (page)="pageEvent = onPaginationChange($event)">
                </mat-paginator>
              </div>

            </div>
          </mat-tab>

          <mat-tab label="Personal Details">
            <app-progress-bar class="page" [message]="loaderMessage ? loaderMessage : 'Loading personal details...'" *ngIf="isPersonalDetLoading" ></app-progress-bar>
            <div class="user-personal-details">
              <form [formGroup]="personalDetailsForm">
                <mat-form-field appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="First name, Last name" formControlName="UserName" autocomplete="off"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Display Name</mat-label>
                  <input matInput placeholder="First name, Last name" formControlName="DPName" autocomplete="off"/>
                </mat-form-field>

                <!-- <mat-form-field appearance="fill">
                  <mat-label>About</mat-label>
                  <textarea matInput placeholder="About" autocomplete="off"></textarea>
                </mat-form-field> -->

                <mat-checkbox class="mat-form-field" formControlName="IsNGO" (change)="setNGOValidators()">Are You an NGO?</mat-checkbox>

                <div class="ngo-fields" *ngIf="personalDetailsForm.controls.IsNGO.value">
                  
                  <mat-checkbox class="mat-form-field" formControlName="CanEndorse" (change)="setCanEndorseValidators()">
                    Would you Like to Endorse Campaigns?
                  </mat-checkbox>

                  <div class="row" *ngIf="personalDetailsForm.controls.CanEndorse.value">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <mat-form-field appearance="fill">
                        <mat-label>NGO Secotor</mat-label>
                        <mat-select formControlName="NGOSector">
                          <mat-option *ngFor="let sector of ngoList.ngoSectors" value="{{sector.Text}}">{{sector.Text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <mat-form-field appearance="fill">
                        <mat-label>NGO Type</mat-label>
                        <mat-select formControlName="NGOType">
                          <mat-option *ngFor="let type of ngoList.ngoTypes" value="{{type.Text}}">{{type.Text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <mat-form-field appearance="fill">
                        <mat-label>Registration No.</mat-label>
                        <input matInput placeholder="Registration No." formControlName="RegisterationNo" autocomplete="off"/>
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <mat-form-field appearance="fill">
                        <mat-label>Registered At</mat-label>
                        <input matInput placeholder="Registered at" formControlName="Registeredat" autocomplete="off"/>
                      </mat-form-field>
                    </div>
                  </div>

                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="cityName" autocomplete="off"/>
                  </mat-form-field>
  
  
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" formControlName="stateName" autocomplete="off"/>
                  </mat-form-field>
  
                  <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Country" formControlName="countryName" autocomplete="off"/>
                  </mat-form-field>
  
                </div>
                <div class="cc-btn-wrapper right">
                  <button mat-button class="gv-secondary-btn flat-btn btn-action" (click)="savePersonalDetails()" [disabled]="isPersonalDetLoading" [class.loading]="isPersonalDetLoading">
                    Update
                  </button>
                  <div class="success-msg" *ngIf="showPersonalSuccessMsg">
                    <mat-icon>check_circle</mat-icon>Personal details updated successfully.
                  </div>
                  <mat-error *ngIf="showPersonalErrorMsg" class="form-error">
                    <mat-icon>info</mat-icon>
                    Please fill all the required fields.
                  </mat-error>
                </div>
              </form>
            </div>
          </mat-tab>

          <mat-tab label="Payment Information">
            <div class="user-campaigns">
              <app-progress-bar class="page" [message]="loaderMessage ? loaderMessage : 'Loading personal details...'" *ngIf="isbankAccountDetLoading" ></app-progress-bar>
              <div class="user-personal-details">
                <form [formGroup]="bankAccountDetailsForm">
                  <mat-form-field appearance="fill">
                    <mat-label>Account Name</mat-label>
                    <input matInput placeholder="Account Name" formControlName="AccountName" autocomplete="off"/>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Account Number</mat-label>
                    <input matInput placeholder="Account Number" formControlName="AccountNumber" autocomplete="off"/>
                  </mat-form-field>


                  <mat-form-field appearance="fill">
                    <mat-label>Bank Name</mat-label>
                    <input matInput placeholder="Bank Name" formControlName="BankName" autocomplete="off"/>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>IFSC Code</mat-label>
                    <input matInput placeholder="IFSC Code" formControlName="IFSCCode" autocomplete="off"/>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Branch and Address</mat-label>
                    <input matInput placeholder="Address" formControlName="BranchAddress" autocomplete="off"/>
                  </mat-form-field>


                  <div class="cc-btn-wrapper right">
                    <button mat-button class="gv-secondary-btn flat-btn btn-action" (click)="saveBankAccountDetails()" [disabled]="isPersonalDetLoading" [class.loading]="isPersonalDetLoading">
                      Update
                    </button>
                    <mat-error *ngIf="!bankAccountDetailsForm.valid" class="form-error">
                      <mat-icon>info</mat-icon>
                      Please fill all the required fields.
                    </mat-error>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Donations">
            <div class="user-campaigns">
              Donations
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- End of User Campaigns -->


      <!-- Right Panel -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="sticky-right-panel">
          <div class="btn-wrapper">
            <button mat-stroked-button class="gv-secondary-btn" routerLink="/ce-campaign">Create Campaign</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
