<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Teams</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Teams</span></li>
      </ul>
    </div>

    <div class="teams-wrapper">
      <div class="team-members">
        <h2 class="title">FOUNDER</h2>
        <div class="teams clearfix">
          <div class="member">
            <div class="memeber-image"><i class="fa fa-user"></i></div>
            <h3 class="name">Vinoth Raman</h3>
            <h4 class="desig">CEO & Founder</h4>
          </div>
        </div>
      </div>
      
      <div class="team-members">
        <h2 class="title">TECHNOLOGY</h2>
        <div class="teams clearfix">
          <div class="member">
            <div class="memeber-image"><i class="fa fa-user"></i></div>
            <h3 class="name">Sujitha Arumugam</h3>
            <h4 class="desig">Backend Engineer</h4>
          </div>
          <div class="member">
            <div class="memeber-image"><i class="fa fa-user"></i></div>
            <h3 class="name">Vijay Nataraj</h3>
            <h4 class="desig">Frontend Engineer</h4>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>