<section class="common-page-slider">
  <!-- [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}" -->
  <div class="slider-bg" [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}">
    <div class="container">
      <h2 class="title">{{campaign.CampaignTitle}}</h2>
      <div class="btn-wrapper">
        <button 
          mat-stroked-button 
          class="gv-secondary-btn transparent rounded"
          routerLink="/donation" [queryParams]="{id: campaign.Id}">Donate Now</button>
      </div>
    </div>
  </div>
</section>

<section class="gv-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><a routerLink="/category/{{campaign.CategoryName}}" title="{{campaign.CategoryName}}">{{campaign.CategoryName}} <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">{{campaign.CampaignTitle}}</span></li>
      </ul>
    </div>

    <app-progress-bar message="Loading Campaigns..." *ngIf="isLoading"></app-progress-bar>

    <div class="no-campaign" *ngIf="!isLoading && isCampaignError">
      <h3>No campaings to show.</h3>
    </div>


    <div class="row" *ngIf="!isLoading && !isCampaignError">

      <!-- Campaign Panel -->
      <div class="col-xs-12 col-sm-4 col-md-8">
        <div class="image-carousel">
          <owl-carousel-o [options]="OwlOptions" style="height: 400px;">
            <ng-template carouselSlide *ngFor="let image of campaign.UploadedImages">
              <div
                *ngIf="image.ContentType.indexOf('image')>=0" 
                class="img-bg" 
                [ngStyle]="{'background-image': 'url(' + image.FilePath + ')'}">
              </div>
              <video
                *ngIf="image.ContentType.indexOf('video')>=0" 
                class="video-wrp" 
                controls 
                poster="">
                <source src="{{image.FilePath}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-template>
            <ng-template carouselSlide *ngIf="!campaign.UploadedImages?.length">
              <div
                class="img-bg" 
                [ngStyle]="{'background-image': 'url(' + campaign.BDisplayPicPath + ')'}">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <!-- User Info -->
        <div class="row campaign-user-info">
          <div class="col-xs-12 col-sm-4 col-md-4 user-email">
            <h4 class="org-title">Campaign Organizer:</h4>
            <i class="fa fa-envelope"></i>
            <a href="mailto:{{campaign.CreatedBy}}" target="_blank">{{campaign.CreatedBy}}</a>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-8 cagegory">
            <!-- Social Share -->
            <div class="social-share-wrapper">
              <h4 class="org-title shares">Shares this campaign:</h4>
              <div class="social-secion">
                <!-- Like -->
                <button mat-stroked-button 
                  *ngIf="isUserLoggedIn && !campaign.IsSupportedByCtUser" 
                  class="gv-secondary-btn like-button"
                  (click)="likeCampaign(campaign)" 
                  [disabled]="isLikesLoading" 
                  [class.loading]="isLikesLoading"
                  >
                  <i class="fa fa-thumbs-up"></i> Like
                </button>
                <button mat-stroked-button class="gv-secondary-btn btn-bg like-button liked" *ngIf="isUserLoggedIn && campaign.IsSupportedByCtUser">
                  <i class="fa fa-check"></i> Liked
                </button>

                <!-- Endorsements -->
                <button mat-stroked-button 
                  *ngIf="(isUserLoggedIn && isUserCanEndorse) && !campaign.isCtNGOEndorsed" 
                  class="gv-secondary-btn like-button"
                  (click)="showEndorseConfirm()" 
                  [disabled]="isEndorseLoading" 
                  [class.loading]="isEndorseLoading"
                  >
                  <i class="fa fa-handshake-o"></i> Endorsement
                </button>
                <button 
                  mat-stroked-button 
                  class="gv-secondary-btn btn-bg like-button liked" 
                  *ngIf="(isUserLoggedIn && isUserCanEndorse) && campaign.isCtNGOEndorsed">
                  <i class="fa fa-check"></i> Endorsed
                </button>

                <!-- Shares -->
                <span class="social whatsapp" shareButton="whatsapp" (click)="createShares('Whatsapp')"><i class="fa fa-whatsapp"></i></span>
                <span class="social facebook" shareButton="facebook" (click)="createShares('Facebook')"><i class="fa fa-facebook"></i></span>
                <span class="social twitter" shareButton="twitter" (click)="createShares('Twitter')"><i class="fa fa-twitter"></i></span>
                <span class="social linkedin" shareButton="linkedin" (click)="createShares('Linkedin')"><i class="fa fa-linkedin"></i></span>
                <span class="social pinterest" shareButton="pinterest" (click)="createShares('Pinterest')"><i class="fa fa-pinterest"></i></span>
                <span class="social email" shareButton="email" (click)="createShares('Email')"><i class="fa fa-envelope-o"></i></span>
              </div>
            </div>
          </div>
        </div>

        <!-- Campaign Content -->
        <div class="campain-section">
          <h3 class="title">{{campaign.CampaignTitle}}</h3>
          <div class="campaign-content" [ngClass]="{'full-height': isReadMore}">
            <div class="desc" [innerHTML]="campaign.campaignDescription.StripedDescription"></div>
            <div class="desc" [innerHTML]="campaign.campaignDescription.StoryDescription"></div>
            <div class="read-more-bg">
              <button mat-stroked-button class="gv-secondary-btn rounded read-more" (click)="onReadMore()">
                {{isReadMore ? 'Read Less' : 'Read More'}}
              </button>              
            </div>
          </div>
        </div>

        <!-- Updates Tab -->
        <mat-card class="updates-section" *ngIf="campaign.Updates?.length">
          <h3 class="sub-title">Campaign Updates ({{campaign.Updates.length}})</h3>
          <div class="updates-items">
            <mat-tab-group (selectedTabChange)="updatesTabChange($event)" class="updates-tab">  
              <mat-tab *ngFor="let updates of campaign.Updates">
                <ng-template mat-tab-label>
                  <div class="date">{{formatDate(updates.updatedOn)}}</div>
                  <div class="timestamp">{{formatTime(updates.updatedOn)}}</div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
            

            <div *ngFor="let updates of campaign.Updates; let i=index" [hidden]="i!==selectedUpdatesTabIndex">
              <div class="tab-update-content clearfix">
                <div class="image-carousel">
                  <owl-carousel-o [options]="OwlOptions" style="height: 400px;">
                    <ng-template carouselSlide *ngFor="let image of updates.Files">
                      <div
                        *ngIf="image.ContentType.indexOf('image')>=0" 
                        class="img-bg" 
                        [ngStyle]="{'background-image': 'url(' + image.FilePath + ')'}">
                      </div>
                      <video
                        *ngIf="image.ContentType.indexOf('video')>=0" 
                        class="video-wrp" 
                        controls 
                        poster="">
                        <source src="{{image.FilePath}}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    </ng-template>  
                  </owl-carousel-o>
                </div>                
                <div class="desc" [innerHTML]="updates.UpdateDescription.StoryDescription"></div>
              </div>
            </div>

          </div>
        </mat-card>
        
        <!-- Comments -->
        <mat-card class="comments-section">
          <h3 class="sub-title" *ngIf="isUserLoggedIn">Add Comment</h3>
          <div class="create-comment-wrp">
            <form [formGroup]="commentsFormGroup" class="right" *ngIf="isUserLoggedIn">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Your Comments here..." formControlName="CommentText" maxlength="1000" autocomplete="off"></textarea>
                <mat-error>
                  Comments should not be empty and allowed maximum 1000 characters.
                </mat-error>
              </mat-form-field>
              <div class="characters-count">{{commentsFormGroup.controls.CommentText.value?.length}} / 1000</div>

              <button 
                mat-stroked-button class="gv-secondary-btn btn-bg" 
                (click)="createComment()"
                [disabled]="isCommentLoading || commentsFormGroup.status === 'INVALID'" 
                [class.loading]="isCommentLoading">
                POST
              </button>
            </form>
          </div>

          <h3 class="sub-title">Comments ({{campaign.Comments?.length}})</h3>
          <div class="comments-wrapper" *ngIf="campaign.Comments?.length">
            <div class="comment-item" *ngFor="let comment of campaign?.Comments">
              <div class="comment-item-wrapper clearfix">
                <div class="comment-msg">
                  <div class="user-name" *ngIf="comment.Users">
                    {{comment.Users.DisplayName ? comment.Users.DisplayName : comment.Users.UserName}},
                    <span class="date">{{comment.Users.NGOAddress}}.</span>
                    <span class="date">{{formatDate(comment.CommentedDate)}}</span>
                  </div>
                  <div class="comment">{{comment.CommentMsg}}</div>
                </div>
                <div class="user-img" *ngIf="comment.Users">{{getFirstLetter(comment.Users.DisplayName)}}</div>
              </div>
            </div>
          </div>
        </mat-card>

        <!-- Comments -->
        <mat-card class="comments-section no-margin" *ngIf="campaign.Comments?.length">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6">
              <h3 class="sub-title">Comments 
                <span *ngIf="campaign.Comments.length">({{curComment}} of {{campaign.Comments?.length}})</span>
              </h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 text-right">
              <button mat-stroked-button class="gv-secondary-btn prev-next-btn" (click)="owlCommentCar.prev()">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button mat-stroked-button class="gv-secondary-btn prev-next-btn" (click)="owlCommentCar.next()">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
          <div class="comments-wrapper">
            <owl-carousel-o [options]="OwlCommentsOptions" #owlCommentCar (translated)="onCommentsChanges($event)">
              <ng-template carouselSlide  *ngFor="let comment of campaign?.Comments">
                <div class="comment-item">
                  <div class="comment-item-wrapper clearfix">
                    <div class="comment-msg">
                      <div class="user-name" *ngIf="comment.Users">
                        {{comment.Users.DisplayName ? comment.Users.DisplayName : comment.Users.UserName}},
                        <span class="date">{{comment.Users.NGOAddress}}.</span>
                        <span class="date">{{formatDate(comment.CommentedDate)}}</span>
                      </div>
                      <div class="comment">{{comment.CommentMsg}}</div>
                    </div>
                    <div class="user-img" *ngIf="comment.Users">{{getFirstLetter(comment.Users.DisplayName)}}</div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </mat-card>


      </div>
      <!-- End of Campaign Panel -->


      <!-- Right Panel -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="sticky-right-panel">

          <!-- Campainer Benificiary -->
          <mat-card class="benificiary-section">
            <h3 class="sub-title">Benificiary</h3>

            <div class="support-box user">
              <a href="" class="user-img">
                {{getFirstLetter(campaign.BenificiaryName)}}
              </a>
              <div class="user-info">
                <a href="" class="user-name">
                  <h3 class="s-user">{{campaign.BenificiaryName ? campaign.BenificiaryName : '-'}}</h3>
                </a>
                <p class="s-loc">
                  <i class="fa fa-map-marker"></i>
                  <span>{{campaign.CampainOrganizer?.placeNmae}}</span>
                </p>
                <p class="s-email">
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:{{campaign.CreatedBy}}" target="_blank">{{campaign.CreatedBy}}</a>
                </p>
              </div>
            </div>
          </mat-card>
          
          
          <!-- Campaign Info -->
          <mat-card class="no-padding">
            <div class="support-box campaign">
              <div class="row">
                <div class="col-md-12">
                  <div class="funded-chart">
                    <div class="goals">
                      <div class="funded" [ngStyle]="{'width': campaign.RaisedPercentage + '%'}"></div>
                    </div>
                    <p class="label">{{campaign.RaisedPercentage}}% AMOUNT ACHIEVED OF ₹{{toLocaleString(campaign.CampaignTargetMoney)}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="inner-box-left">
                    <h4>₹ {{toLocaleString(campaign.RaisedAmount)}}</h4>
                    <p class="label">Money Raised</p>
                  </div>
                  <div class="inner-box">
                    <h4>{{campaign.CampaignDonationList.length}}</h4>
                    <p class="label">Donors</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="inner-box-right">
                    <h4>₹ {{toLocaleString(campaign.CampaignTargetMoney)}}</h4>
                    <p class="label">Goal</p>
                  </div>
                  <div class="inner-box">
                    <h4>{{campaign.EndorsementsList.EndorseList?.length}}</h4>
                    <p class="label">Endorsements</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 right-border">
                  <div class="inner-box-border">
                    <h4>{{campaign.LikeCount}}</h4>
                    <p class="label">Likes</p>
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                </div>
                <div class="col-md-4 right-border">
                  <div class="inner-box-border">
                    <h4>{{campaign.Comments?.length}}</h4>
                    <p class="label">Comments</p>
                    <i class="fa fa-comments"></i>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="inner-box-border">
                    <h4>{{campaign.sharecount}}</h4>
                    <p class="label">Shares</p>
                    <i class="fa fa-share"></i>
                  </div>
                </div>
              </div>
              <div class="center btn-wrapper">
                <button 
                  mat-stroked-button 
                  class="gv-secondary-btn rounded" 
                  routerLink="/donation" [queryParams]="{id: campaign.Id}">
                  Donate Now
                </button>
              </div>
            </div>
          </mat-card>
          <!-- User Info -->



          <!-- Top Donors -->
          <mat-card *ngIf="campaign.CampaignDonationList?.length">
            <div class="top-donors-section">
              <h3 class="sub-title">Top Donors</h3>
              <div class="donors-scroll-wrapper">
                <div 
                  class="donor-item clearfix" 
                  *ngFor="let donor of campaign.CampaignDonationList; let i = index;"
                  [hidden]="!isViewAllDonors && i > 2"
                  >
                  <a href="" class="donor-img">{{getFirstLetter(donor.DonatedBy)}}</a>
                  <div class="user-info">
                    <div class="user-name">
                      <h3 class="s-user">{{donor.DonatedBy}}</h3>
                    </div>
                    <p class="donor-amount">
                      <span>₹ {{toLocaleString(donor.DonationAmnt)}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="view-more-wrapper" *ngIf="!isViewAllDonors && campaign.CampaignDonationList.length > 3">
                <button mat-button color="primary" class="view-more" (click)="isViewAllDonors = true">
                  View All
                </button>
              </div>
            </div>
          </mat-card>        


          <!-- Endorsements List -->
          <mat-card *ngIf="campaign.EndorsementsList.EndorseList?.length">
            <div class="top-donors-section">
              <h3 class="sub-title">Endorsements</h3>
              <div class="endorse-scroll-wrapper">
                <div class="donor-item clearfix"
                  *ngFor="let endorsment of campaign.EndorsementsList.EndorseList; let i = index"
                  [hidden]="!isViewAllEndorsements && i > 2"
                  >
                  <div class="user-info">
                    <div class="user-name">
                      <h3 class="s-user">{{endorsment.NGOName}}</h3>
                    </div>
                    <p class="donor-address">
                      <span *ngIf="endorsment.NGOType">{{endorsment.NGOType}} | </span>
                      <span *ngIf="endorsment.NGOSector">{{endorsment.NGOSector}} | </span>
                      <span *ngIf="endorsment.NGOAddress">{{endorsment.NGOAddress}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="view-more-wrapper" *ngIf="!isViewAllEndorsements && campaign.EndorsementsList.EndorseList.length > 3">
                <button mat-button color="primary" class="view-more" (click)="isViewAllEndorsements = true">
                  View All
                </button>
              </div>
            </div>
          </mat-card> 
        </div>
               

      </div>
    </div>


  </div>
</section>
