<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Highlights</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name">Highlights</span></li>
      </ul>
    </div>

    <div>
      <p class="desc">- Mobile App.</p>
      <p class="desc">- 0% Platform Fee.</p>
      <p class="desc">- Only charges are for the payment transaction processing by the third parties.</p>
    </div>
  </div>
</section>