@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body {
  // 300;400;500;600
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.32px;
}
p, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}
li {
  list-style: none;
}
::-moz-selection { background: rgba(23, 188, 156, 0.56); }
::selection { background: rgba(23, 188, 156, 0.56); }

a, a:link {
  color: #17bc9c;
  transition: .25s ease-out;
  &:hover {
    color: #028067;
    text-decoration: none;
    transition: .25s ease-out;
  }
}

button {
  font-family: "Roboto", Arial, sans-serif !important;
  letter-spacing: 0.22 !important;
  &:focus {
    outline: none;
  }
  &.btn-sm {
    height: 30px;
    line-height: 28px;
  }
  &.btn-action {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Roboto" !important;
    letter-spacing: 0.42px;
    font-weight: 300 !important;
    border: 1px solid #17bc9c;
    border-radius: 0;
  }
}

.gv-secondary-btn {
  border-color: #17bc9c !important;
  &.rounded {
    border-radius: 35px !important;
    background: rgba(23, 188, 156, 0.82);
    color: #f1f1f1;
    .fa {
      margin-right: 1px;
    }
  }
  &.transparent {
    background: rgba(23, 188, 156, 0.42);
    color: #f1f1f1;
  }
  &.donate-bnt {
    height: 56px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.62px;
    background: rgba(23, 188, 156, 0.82);
    color: #f1f1f1;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(1,191,189,.3);    
    .fa {
      margin-right: 5px;
      top: 0px;
      position: relative;
    }
  }
}
.gv-secondary-btn.flat-btn {
    font-weight: 400;
    font-family: "Roboto" !important;
    border-radius: 0;
}
.gv-secondary-btn.btn-bg {
  background-color: #17bc9c !important;
  color: #f1f1f1;
}

.gv-secondary-btn {
  border-color: #17bc9c !important;
  color: #17bc9c;
}

.bg-theme-colored {
  // background-color: #546E7A;
  background-color: #111;
  color: #f1f1f1;
}

.full-width {
  width: 100%;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #095e4b;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #095e4b;
}

.breadcrumb-wrapper {
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0;
    position: relative;
    li {
      margin-right: 20px;
      .mat-icon {
        height: 14px;
        width: 14px;
        font-size: 14px;
        position: absolute;
        top: 4px;
        color: #adadad;
        margin-left: 3px;      
      }
      a {
        font-weight: 400;
      }
    }
  }
  .filter-wrp {
    position: relative;
    .filter-btn {
      position: absolute;
      top: -14px;
      right: 0;
    }
  }
}
.common-page-slider {
  .slider-bg {
    height: 320px;
    background: url('./assets/images/home-banner.jpg') no-repeat center center transparent;
    background-size: cover;
    position: relative;
    .container {
      position: relative;
      height: 100%;
    }
    .title {
      color: #f1f1f1;
      line-height: 46px;
      position: absolute;
      bottom: 30px;
      width: 800px;
    }
    .btn-wrapper {
      right: 10px;
    } 
  }
}



.gv-common-page-body {
  min-height: 800px;
  padding: 30px 0;
  .sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .desc {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .page-bd {
    li {
      list-style: disc;
      margin: 16px;
    }
  }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #54c8ad;
}
.loader {
  margin: auto;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #008b6e;
}
.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 1px solid rgba(0, 139, 110, 0.76);
}
.mat-tab-label {
  height: 42px;
  padding: 0 14px;
}
.mat-tab-label-active {
  background: rgba(0, 139, 110, 0.22);
  color: #000;
  opacity: 1;
}
.mat-tab-body-content {
  padding: 20px;
}

.funded-chart {
  margin: 4px 0 4px;
  .goals {
    position: relative;
    background-color: rgba(181, 181, 181, 0.32);
    height: 6px;
    margin-bottom: 8px;
    .funded {
      position: absolute;
      height: 100%;
      width: 0;
      max-width: 100%;
      background-color: rgba(23, 188, 156, 0.62);
    }
  }
  .label {
    font-size: 11px;
    margin-top: 4px;
  }
}

.mat-card {
  margin-bottom: 24px;
  &.no-padding {
    padding: 0;
  }
  &.light-bg {
    background: #fdfdfd;
    border: 1px solid rgba(204, 204, 204, 0.32);
  }
}

.campaign-item {
  margin-bottom: 24px;
  .campaign-thumbnail {
    margin: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: rgba(0,0,0,.6);
      opacity: 0;
      transition: all .3s;
    }
    &:hover {
      .thumb {
        z-index: -1;
        .img {
          transform: scale(1.05,1.05);
          -webkit-transform: scale(1.05,1.05);
          -moz-transform: scale(1.05,1.05);
          -ms-transform: scale(1.05,1.05);
          -o-transform: scale(1.05,1.05);
        }
      }
      &:before {
        opacity: 1;
        transition: all .3s;
      }
      .read-more {
        opacity: 1;
        transform: scale(1, 1);
        transition: all .3s;
      }
    }            
    .thumb {
      width: 100%;
      height: 200px;
      position: relative;
      overflow: hidden;
      transition: all .3s;
      .img {
        background-image: url('https://givingactuallyblob.blob.core.windows.net/animal/c5eb8c86-d351-4248-acc7-4fcbc94ecd7f.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
    }
    .read-more {
      position: absolute;
      left: 36%;
      top: 40%;
      z-index: 0;
      transform: scale(1.3,1.3);
      opacity: 0;
      z-index: 10;
    }
    .supporters-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(0 0 0 / 0.72);
      width: 100%;
      height: 42px;
      margin-bottom: 0;
      padding: 5px 22px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.82);
      font-size: 13px;
      margin: 0;
      .days { 
        padding: 5px 0;
      }
      .supporters {
        padding: 5px 0;
        text-align: right;
        border-left: 1px solid rgba(255, 255, 255, 0.42);
      }
      .value {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .info {
    border: 1px solid rgba(156, 156, 156, 0.12);
    border-top: 0;
    box-shadow: 0 1px 5px -2px rgba(42, 42, 42, 0.22);
    min-height: 150px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.82);
    .title {
      font-size: 18px;
      margin-bottom: 0;
      max-height: 44px;
      overflow: hidden;
      margin-bottom: 8px !important;
    }
    .desc {
      height: 45px;
      overflow: hidden;
    }
  }
  .category {
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    .fa {
      margin-right: 5px;
    }
  }
  .funded-chart {
    margin: 4px 0 8px;
    .goals {
      position: relative;
      background-color: rgba(181, 181, 181, 0.32);
      height: 6px;
      .funded {
        position: absolute;
        height: 100%;
        width: 0;
        max-width: 100%;
        background-color: rgba(23, 188, 156, 0.62);
      }
    }
  }
  .funded-info {
    font-weight: 500;
    margin-top: 15px;
    font-size: 16px;
    .funded {
      .label {
        color: rgba(17, 17, 17, 0.42);
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        margin-top: 4px;
      }
      &.goals {
        text-align: right;
      }
    }
  }
  .campaign-address {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.gv-file-input {
  padding: 14px 10px;
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #949494;
  line-height: 32px;
  color: #747474;
  font-size: 14px;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}
.box-error-msg{
  display: block;
  text-align: center;
  padding: 10px;
  border: 1px solid #f44336;
  border-radius: 5px;
  margin: 10px 0;
}

.gv-btn-link {
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto !important;
  letter-spacing: 0.72px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: #54c8ad;
}
.thumb img {
  width: 100%;
}

.search-wrapper {
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  width: 500px;
  height: 60px;
  z-index: 2;
  margin: auto;
  &.small {
    top: 180px;
  }
  .mat-form-field {
    color: #000;
    width: 100%;
    .mat-icon {
      position: relative;
      left: -10px;
      top: 5px;
      font-size: 26px;
      color: rgba(255, 255, 255, 0.52);
    }
    .gv-secondary-btn {
      position: relative;
      top: -2px;
      right: -24px;
      color: rgba(0, 0, 0, 0.62);
    }
    .mat-form-field-infix {
      padding: 1em 0 1em 0;
      margin: 0;
      padding-top: 1px;
      font-size: 16px;
    }
    .mat-form-field-flex {
      background-color: rgba(255, 255, 255, 0.32);
      padding: 0px 30px;
      border: 1px solid rgba(0, 139, 110, 0.62);
      border-radius: 24px;
    }
    .mat-form-field-outline {
      display: none;
    }
  }
}

// Spinner style
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.62);
  border-top-color: #008b6e;
  animation: spinner .8s linear infinite;
}

.mat-card {
  position: relative;
}
app-progress-bar.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.62);
  z-index: 1;
  .progress-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 230px;
    left: 0;
    right: 0;
  }
}

.no-margin {
  margin: 0 !important;
}

.title-desc {
  height: 92px;
  overflow: hidden;
  .desc {
    font-size: 14px !important;
    line-height: inherit !important;
    height: 100% !important;
    max-height: 100%;
  }
}
.success-msg {
  text-align: right;
  margin: 24px 0;
  color: green;
  .mat-icon {
    position: relative;
    top: 5px;
    font-size: 20px;
    margin-right: 4px;    
  }
}

.no-campaign {
  text-align: center;
  h3 {
    font-family: Roboto;
    font-size: 18px;
    color: #797979;
    font-weight: 400;
    margin: 150px 0 30px;
  }
}

mat-sidenav.mat-drawer {
  background: #008b6e;
}
.mobile-nav {
  min-width: 260px;
  .mat-nav-list {
    padding-top: 40px;
  }
  .close-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    color: rgba(241, 241, 241, 0.72);
  }
  .mat-list-base .mat-list-item {
    color: rgba(241, 241, 241, 0.72);
  }
  .mat-nav-list .mat-list-item {
    height: 40px;
    .mat-list-item-content {
      padding-left: 26px;
    }
  }
}

body {
  .mat-drawer-container {
    overflow: inherit;
    .mat-drawer-content {
      overflow: inherit;
    }
  }
}


.user-box {
  padding-top: 8px;
  font-weight: 400;
  .user-img {
    font-size: 11px;
    font-family: "Roboto";
    font-weight: 200;
    color: rgba(0, 0, 0, 0.62);
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    border: 1px solid rgba(204, 204, 204, 0.62);
    background: rgba(0, 0, 0, 0.04);
    margin-right: 6px;
    display: block;
    float: left;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  .user-name {
    color: rgba(0, 0, 0, 0.52);
    position: relative;
    top: 5px;
    font-size: 12px;
    // a, a:link {
    //   color: rgba(0, 0, 0, 0.62);
    //   &:hover {
    //     color: rgba(0, 0, 0, 0.92);
    //   }
    // }
  }
}

.flex-containers {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.center {
    justify-content: center;
  }
} 

.admin-action-wrapper {
  text-align: center;
  button {
    margin: 0 4px;
  }
} 

// Data table
.ngx-datatable.material {
  box-shadow: 0 0px 1px -3px rgba(0, 0, 0, 0.2), 0px 2px 10px 1px rgba(0, 0, 0, 0.14), -1px 0px 3px 0px rgba(0, 0, 0, 0.12);
}
.full-container {
  padding: 0 24px;
}


// Media Query

@media only screen and (max-width: 720px) { 
  body {
    .mat-drawer-container {
      overflow: hidden;
      .mat-drawer-content {
        overflow: hidden;
      }
    }
  }
  
  .hamburger-icon {
    display: block !important;
  }  
  .header.masthead .header-top .sub-nav {
    display: none;
  }
  .home-slider .slider-bg .title {
    width: 376px !important;
  }
  .header.masthead .main-nav, .filter-wrapper,
  .header.masthead .main-nav, .left-arrow,
  .header.masthead .main-nav, .right-arrow{
    display: none;
  }
  .header.masthead .main-nav, .category-list {
    width: 100% !important;
  }
  .login-singup {
    max-width: calc(100% - 20px) !important;
  }
  .custom-login-wrapper {
    border-left: 0 !important;
    padding-left: 0 !important;
  }
  .social-btn-wrapper {
    margin-top: 34px !important;
  }
  .signup-wrapper .social-btn-wrapper .mat-primary {
    width: 230px;
    margin-bottom: 10px !important;
  }
  .login-wrapper .mat-form-field {
    width: 100%;
  }
  .user-stats {
    .col-xs-12 {
      width: 50%;
    }
  }
  .campaign-social-info {
    .col-md-4 {
      width: 33.33%;
    }
  }
  .campaign-item {
    .inner-box {
      width: calc(50% - 10px) !important;
      float: left;
      margin: 0 5px !important;
    }
  }
  .gv-page-body .user-wrapper .btn-wrapper {
    text-align: center !important;
    .gv-secondary-btn {
      position: relative !important;
      top: -18px !important;
    }
  }
  .gv-page-body .user-wrapper .user-stats .count {
    float: right !important;
  }
  .create-btn-wrapper {
    text-align: center;
  }
  .user-personal-details {
    padding: 20px 0 0 !important;
  }
  .mat-step-header {
    .mat-step-label {
      display: none;
    }
  }
  .stepper.mat-card {
    padding: 0;
  }
  .terms {
    margin-top: 24px;
  }
  .footer {
    padding: 20px 0 20px 0 !important;
    .footer-nav {
      width: 33.33%;
    }
    .title {
      margin-bottom: 6px;
      margin-top: 15px;
    }
    .logo {
      img {
        height: 32px !important;
      }
    }
  }
  .common-page-slider .slider-bg .title {
    margin-right: 20px;
  }
  .tab-update-content {
    padding: 12px 0 !important;
    .image-carousel {
      max-width: 100%;
      overflow: hidden;
    }
  }
  .search-wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    top: 180px;
  }
  .home-slider .slider-bg .title {
    font-size: 23px;
    line-height: 34px !important;
    bottom: 50px !important;
  }
  .home-slider .slider-bg .offer-title {
    right: calc(100% - 355px) !important;;
  }
  .how-to-use-wrapper .steps-wrapper {
    width: 100% !important;
    .steps .steps-det {
      width: 70% !important;
    }
  }
  .stat-container {
    display: block !important;
  }
}
// End of the responsiveness
