<div class="confirm-wrapper">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{data.message}}</p>
    <div *ngIf="showReason" class="form-wrapper">
      <form class="reason-form">
        <mat-form-field appearance="fill">
          <mat-label>Reason</mat-label>
          <input matInput placeholder="Reason" name="reasons" [(ngModel)]="reasons">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="footer">
    <button mat-stroked-button class="gv-secondary-btn" 
      *ngIf="data.cancelLable"
      matDialogClose (click)="onCloseDialog('cancel')">{{data.cancelLable}}</button>
    <button mat-stroked-button class="gv-secondary-btn btn-bg" matDialogClose (click)="onCloseDialog('ok'); " cdkFocusInitial>{{data.okLable}}</button>
  </div>
</div>
