<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        Logo
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3 class="title">COMPANY</h3>
        <ul>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contact-us">Get in Touch</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/highlights">Highlights</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3 class="title">CATEGORIES</h3>
        <ul>
          <li><a href="#">Agriculture</a></li>
          <li><a href="#">Charity</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Medical Illness</a></li>
        </ul>

      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3 class="title">RECENT CAMPAIGNS</h3>
        <ul>
          <li><a href="#">Help to Cataract Surgeries for A child.</a></li>
          <li><a href="#">Help to heart Surgeries for A ABC.</a></li>
          <li><a href="#">Donate for Orphanage children treatment</a></li>
          <li><a href="#">Campaign Title 4</a></li>
          <li><a href="#">Campaign Title 5</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          Copyright &copy; <a href="">givingactually.com</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 text-right terms">
          <a href="">Privacy</a> 
          <a href="">Terms</a>
          <a href="">Legal</a>
        </div>
      </div>
    </div>
  </div>
</footer>