<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <a class="logo" routerLink="/ga/home">
          <img src="./../assets/images/logo-gv-white.png" alt="Giving Actually">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 footer-nav">
        <h3 class="title">COMPANY</h3>
        <ul>
          <li><a routerLink="/ga/about-us">About Us</a></li>
          <li><a routerLink="/ga/services">Services</a></li>
          <li><a routerLink="/ga/contact-us">Get in Touch</a></li>
          <li><a routerLink="/ga/faq">FAQ</a></li>
          <li><a routerLink="/ga/highlights">Highlights</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 footer-nav">
        <h3 class="title">CATEGORIES</h3>
        <ul>
          <li *ngFor="let category of categoriesFirstFive">
            <a routerLink="/category/{{category}}">{{category}}</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 footer-nav">
        <h3 class="title">CATEGORIES</h3>
        <ul>
          <li *ngFor="let category of categoriesSecondFive">
            <a routerLink="/category/{{category}}">{{category}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          Copyright &copy; <a href="">givingactually.com</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 text-right terms">
          <a href="">Privacy</a> 
          <a href="">Terms</a>
          <a href="">Legal</a>
        </div>
      </div>
    </div>
  </div>
</footer>